@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #bdc3c7;
   background-image:url(http://i.imgur.com/8CPOGtb.jpg);background-repeat:repeat;
}
.container {
  background: #bdc3c7;
}
.nav{
  background: #bdc3c7;
}

.newmsg {
  background: rgba(189, 195, 198, 0.7);
  margin-top: 25px;
  padding: 110px 0px;
}

.page-header{

margin: 0;

}

.form-group{
  color: #ecf0f1;
}

.brex{
  color: #ecf0f1;
}

.media-left img{
  width:10%;
}
